<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link type="text/plain" rel="author" href="https://mattiaswickberg.github.io/humans.txt" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="TeacherGreencow's site" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="https://mattiaswickberg.github.io" />
    <meta property="og:image" content="https://drive.google.com/file/d/1awhjNIntwNIMkJfVdwPnq-9YFyEIavzgeA/view?usp=sharing" />
    <meta property="og:description" content="A site with musings on webb, programming, the art of teaching, language and communication." />

</head>
